$alert-red: rgb(245, 65, 55); // #f54137
$warning-yellow: rgb(245, 166, 10); // #f5a60a
$bg-color: #000000;
$border-grey: rgb(234, 234, 234); // #eaeaea
$light-grey: rgb(225, 225, 225); // #e1e1e1
$middle-grey: rgb(204, 204, 204); // #cccccc
$brown-grey: rgb(153, 153, 153); // #999999
$brownish-grey: rgb(112, 112, 112); // #707070
$dark-brown: rgb(79, 71, 62); // #4f473e
$black: rgb(19, 20, 31); // #13141F
$white: #f0f4f5;

// Kepler-Color
$nft-color: #2a002b;
$faq-color: #380359;
$team-color: #751f96;
$header-color: #07021f;
$sub-header: #ff00ff;

$hover-color: #cf00cf;
$btn-color: #a100a3;

$gradtion-top: #3f0eac;
$gradtion-bottom: #ff00cc;

$shadow-color: #ac01b4;
$half-color: #bebebe;
