.KeplerMintPage {
  width: 100%;
  height: 100%;
}

.KeplerMintPage__main {
  width: 100%;
  min-height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 70px;
  padding: 60px 10px;

  h3 {
    margin-bottom: 15px;
  }
}

@keyframes bubblemove {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 5%;
  }
}

.Mushroom {
  img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25em;
    animation: bubblemove 2.5s infinite linear;
  }

  @media screen and (max-width: 800px) {
    display: none;
  }
}

.KeplerMintPage__content {
  display: flex;
  padding: 40px 0;
}
