.Footer {
  justify-content: center;
  .Footer__main {
    justify-items: center;
    height: 180px;
    display: flex;
    color: $half-color;
    margin: 100px;
    a {
      padding-top: 50px;
      flex: 1;
      text-align: center;

      i {
        font-size: 30px;
        padding-bottom: 15px;
      }

      h2 {
        font-size: 20px;
      }
    }
  }
}
