@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.MintBox {
  color: #fff;
  margin-left: 300px;
  margin-right: 300px;
}

.MintBox__contents {
  margin: 20px;
  text-align: center;
  justify-content: space-between;

  video {
    padding: 15px;
    width: 270px;
    outline: none;
    border: none;
  }

  img {
    padding: 15px;
    width: 300px;
    animation: move 2.5s infinite linear;
  }
}

.MintBox__button {
  font-size: 24px;
  margin: 20px;
  padding: 20px;
  border: 5px solid $hover-color;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }
}

.MintBox__count {
  margin: 20px;
  font-size: 20px;
}

.MintBox__balanceOf {
  font-size: 20px;
  padding: 20px;
  background-color: $hover-color;
}

.MintBox__info {
  font-size: 18px;
  padding: 20px;

  p {
    padding-bottom: 5px;
  }
}
