@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.MintBox {
  color: #fff;
  margin-left: 300px;
  margin-right: 300px;

  @media screen and (max-width: 1280px) {
    margin-left: 250px;
    margin-right: 250px;
  }

  @media screen and (max-width: 1000px) {
    margin-left: 150px;
    margin-right: 150px;
  }

  @media screen and (max-width: 810px) {
    margin-left: 75px;
    margin-right: 75px;
  }

  @media screen and (max-width: 650px) {
    margin-left: 50px;
    margin-right: 50px;
  }

  @media screen and (max-width: 500px) {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.MintBox__contents {
  margin: 20px;
  text-align: center;
  justify-content: space-between;

  video {
    padding: 15px;
    width: 270px;
    outline: none;
    border: none;

    @media screen and (max-width: 1280px) {
      padding: 5px;
      width: 200px;
    }
  }

  img {
    padding: 15px;
    width: 300px;
    animation: move 2.5s infinite linear;

    @media screen and (max-width: 1280px) {
      padding: 5px;
      width: 230px;
    }

    @media screen and (max-width: 680px) {
      display: none;
    }
  }
}

.MintBox__button {
  font-size: 24px;
  margin: 20px;
  padding: 20px;
  border: 5px solid $hover-color;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }
}

.MintBox__count {
  margin: 20px;
  font-size: 20px;

  @media screen and (max-width: 800px) {
    font-size: 18px;
  }
}

.MintBox__balanceOf {
  font-size: 20px;
  padding: 20px;
  background-color: $hover-color;

  @media screen and (max-width: 800px) {
    font-size: 18px;
  }
}

.MintBox__info {
  font-size: 18px;
  padding: 20px;

  p {
    padding-bottom: 5px;

    a:hover {
      color: $hover-color;
    }
  }

  @media screen and (max-width: 1280px) {
    font-size: 17px;
  }

  @media screen and (max-width: 800px) {
    font-size: 16px;
  }

  @media screen and (max-width: 500px) {
    font-size: 14px;
  }
}
