.NFTBox {
  width: 100%;
  margin-top: 20px;
  .NFTBox__Name {
    font-size: 18px;
    text-align: center;
  }
  .NFTBox__Img {
    width: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
